<div *ngIf="_userService.token">
  <h2>Quiz options</h2>
  <div class="row">
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <label>Select a Topic:</label><br/>
      <select class="custom-select" (click)="getTopics();" [(ngModel)]="quizSettings.topicId">
      <option value="0">--SELECT A TOPIC--</option>
        <option value="-1">--CREATE A NEW TOPIC--</option>
      <option *ngFor="let topic of topics" value="{{topic.id}}">{{topic.name}}</option>
    </select>
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngIf="quizSettings.topicId == -1">
      <label>Create a New Topic:</label><br/>
      <input type="text" name="new-topic" [(ngModel)]="newTopic">
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-4" *ngIf="quizSettings.topicId == -1">
      <button (click)="createNewTopic()" class="btn btn-primary">Create New Topic</button>&nbsp;
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Number of Questions:</label><br/>
      <input type="number" name="no-of-questions" [(ngModel)]="quizSettings.noOfQuestions">
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Number of Choices:</label><br/>
      <input type="number" name="no-of-choices" [(ngModel)]="quizSettings.noOfChoices">
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-4">
      <button (click)="generateQuiz()" class="btn btn-primary" [disabled]="quizSettings.topicId == 0 || quizSettings.topicId == -1">Generate Quiz</button>&nbsp;
    </div>

  </div>
  <div *ngIf="_newQuiz.errors" class="text-danger">
    <strong>{{ _newQuiz.errors.error_description }}</strong>
  </div>
  <!--  Generated Quiz -->
  <form id="quiz" [formGroup]="_newQuiz.quizForm" *ngIf="_newQuiz.quiz" (submit)="_newQuiz.onSubmit()">
    <ol style="padding-inline-start: 0">
      <div formArrayName="qna" *ngFor="let qna of _newQuiz.quizForm.get('qna')['controls']; let i=index">
        <div class="col-12">
          <li>{{qna.value.question}}</li>
          <div [formGroupName]="i">
            <div formArrayName="choices" *ngFor="let choice of qna.get('choices')['controls']; let j=index">
              <div [formGroupName]="j">
                <!--            Use fieldset to disable form-->
                <fieldset [disabled]="_newQuiz.quizForm.value.answered">
                  <input *ngIf="qna.value.questionType == 'checkbox'" [type]="qna.value.questionType"
                         [name]="qna.value.question" formControlName="selected" [value]="choice.value.selected"
                         (change)="onSelectCheckbox(choice)">
                  <input *ngIf="qna.value.questionType == 'radio'" [type]="qna.value.questionType"
                         [name]="qna.value.question" formControlName="selected" [value]="choice.value.selected"
                         (change)="onSelectRadio(qna, choice)">
                  <label style="padding-left: 10px"
                         [ngClass]="{'correct': choice.value.correct && choice.value.selected, 'wrong': choice.value.correct == false && choice.value.selected, 'correct-unchosen': choice.value.correct && !choice.value.selected}">
                    {{choice.value.choiceText}}</label>
                </fieldset>
              </div>
            </div>
          </div>
          <div *ngIf="_newQuiz.quizForm.value.answered" [ngClass]="{'correct': (qna.value.questionPointsScored / qna.value.possibleQuestionPoints) >= 0.5, 'penalty': (qna.value.questionPointsScored / qna.value.possibleQuestionPoints) < 0.5 }">
            Score: {{qna.value.questionPointsScored}} / {{qna.value.possibleQuestionPoints}}
          </div>
          <div *ngIf="qna.value.penalty > 0" class="penalty">Penalty: {{qna.value.penalty}}</div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-4" *ngIf="!_newQuiz.quizForm.value.answered">
        <input type="submit" value="Submit Quiz" class="btn btn-primary">&nbsp;
      </div>
    </ol>
  </form>
  <!--  Score and regenerate quiz buttons. These only appear when the quiz has been answered. -->
  <div *ngIf="_newQuiz.quiz && _newQuiz.quizForm.value.answered">
    <div class="row" [ngClass]="{'correct': _newQuiz.quizForm.value.score >= 0.5, 'penalty':  _newQuiz.quizForm.value.score < 0.5}">
      <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
        Score: {{_newQuiz.quizForm.value.totalPointsScored}}
        / {{_newQuiz.quizForm.value.possiblePoints}}
      </div>
        <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
<!--        '1.2-2' means {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}:

A minimum of 1 digit will be shown before decimal point
It will show at least 2 digits after decimal point
But not more than 2 digits -->
        Percentage: {{ _newQuiz.quizForm.value.score * 100 | number: '1.2-2'}} %<br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <button (click)="generateQuiz()" class="btn btn-primary">Re-Generate Quiz</button>
      </div>
      <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <button (click)="_newQuiz.retryQuiz(_newQuiz.quizForm.value.id)" class="btn btn-primary">Retry Same Quiz
        </button>
      </div>
    </div>
  </div>
</div>

