<div *ngIf="_userService.token">
  <h2>Quiz options</h2>
  <div class="row">
<!--    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">-->
<!--      Create select with different topics as options-->
<!--      <label>Topic:</label><br/>-->
<!--      <select name="Quiz Topic" [(ngModel)]="quizSettings.topic">-->
<!--        <option value="1">1</option>-->
<!--      </select>-->
<!--      <span *ngFor="let error of _registrationService.errors.username"><br/>{{ error }}</span>-->
<!--    </div>-->
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Number of Questions:</label><br/>
      <input type="number" name="no-of-questions" [(ngModel)]="quizSettings.noOfQuestions">
<!--      <span *ngFor="let error of _registrationService.errors.password"><br/>{{ error }}</span>-->
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Number of Choices:</label><br/>
      <input type="number" name="no-of-choices" [(ngModel)]="quizSettings.noOfChoices">
<!--      <span *ngFor="let error of _registrationService.errors.confirmPassword"><br/>{{ error }}</span>-->
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-4">
      <button (click)="generateQuiz()" class="btn btn-primary">Generate Quiz</button>&nbsp;
    </div>
<!--    <div class="col-sm-12">-->
<!--      <span *ngFor="let error of _registrationService.errors.non_field_errors">{{ error }}<br/></span>-->
<!--    </div>-->
  </div>
</div>
