<div class="container-fluid pt-5">
  <h2>Log In</h2>
  <div class="row" *ngIf="!_userService.token">
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Username:</label><br/>
      <input type="text" name="login-username" [(ngModel)]="user.username">
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Password:</label><br/>
      <input type="password" name="login-password" [(ngModel)]="user.password">
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-4">
      <button (click)="login()" class="btn btn-primary">Log In</button>&nbsp;
    </div>
    <div class="col-sm-12">
      <span *ngIf="_userService.errors" class="text-danger"><strong>{{ _userService.errors.error_description }}</strong><br/></span>
    </div>
  </div>
  <div class="row" *ngIf="_userService.token">
    <div class="col-sm-12">You are logged in as {{ _userService.username }}.<br/>
      Token Expires: {{ _userService.tokenExpires }}<br/>
      <button (click)="refreshTokenAPI(_userService.refreshToken)" class="btn btn-primary">Refresh Token</button>&nbsp;
      <button (click)="logout()" class="btn btn-primary">Log Out</button>&nbsp;
    </div>
  </div>
</div>
