<div *ngIf="!_userService.token && _registrationService.registrationScreenActive" class="container-fluid pt-5">
  <h2>Register</h2>
  <div class="row">
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Username:</label><br/>
      <input type="text" name="register-username" [(ngModel)]="newUser.username">
      <span *ngFor="let error of _registrationService.errors.username"><br/>{{ error }}</span></div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Password:</label><br/>
      <input type="password" name="register-password" [(ngModel)]="newUser.password">
      <span *ngFor="let error of _registrationService.errors.password"><br/>{{ error }}</span>
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <label>Confirm Password:</label><br/>
      <input type="password" name="register-confirm-password" [(ngModel)]="newUser.confirmPassword">
      <span *ngFor="let error of _registrationService.errors.confirmPassword"><br/>{{ error }}</span>
    </div>
    <div class="col-xs-3 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-4">
      <button (click)="register()" class="btn btn-primary">Register</button>&nbsp;
    </div>
    <div class="col-sm-12">
      <span *ngFor="let error of _registrationService.errors.non_field_errors">{{ error }}<br/></span>
    </div>
  </div>
</div>

<div *ngIf="!_registrationService.registrationScreenActive">
  <div *ngIf="_registrationService.registrationSuccessMessage" class="col-sm-12 text-success">
    <strong>{{_registrationService.registrationSuccessMessage}}</strong>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
    <button (click)="reactivateRegistrationScreen()" class="btn btn-primary">Register Another Account</button>&nbsp;
  </div>
</div>
